#header {
    
    position: relative;
    
    height: 125px;
    width: 85%;
    margin-top: 25px;
    margin-left: 7.5%;
    
}

#header_title {
	
	position: relative;
	
	top: 25px;
	
	font-family: "Open Sans, Arial";

	float: left;
	height: 100%;
}

#header_logo {

   height: 100%;
   float: right;
}

#canvas_area {
	
	position: relative;
	
	top: 25px;
	width: 95%;
	
	margin-top: 20px;
	padding-left: 2.5%;
}

#date {

    position: relative;
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	color: #666;
	
	margin: 0 0 0 5px;
	
	margin-bottom: 15px;
	
	left: 7.5%;
    top: 25px;
	
	width: 85%;
}

#date .date {
	
	margin: 0 0 0 5px;
	
	width: 120px;
}

#date .hh {
	
	margin: 0 5px 0 5px;
	
	width: 36px;
}

#date span {
	
	margin: 0 5px 0 5px;
	padding: 9px;
	
	width: 72px;
	
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	
	cursor: pointer;
}

#date span:hover {
	
	background-color: lightgray;
}

#date span.auto {
	
	float: right;
	width: 52px;

	text-align: center;
}

#date img.loading {
	
	position: relative;

	top: 5px;

	height: 20px;

	margin: 0 5px 0 5px;

	display:none;
}

#window_size {
		
	position: relative;
	top: 30px;
	
	left: 7.5%;
	width: 85%;

    margin-bottom: 15px;
}

#window_size table {
	width: 100%;
}

#window_size table tr td {

	padding: 5px 5px 5px 5px;
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 12px;
	
	text-align: center;
	
	width: 5.8%;	
	
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	
	color: #666;
	
	cursor: pointer;
}

#window_size table tr td.unpushed {
	background-color: white;
	
}

#window_size table tr td.pushed {
	background-color: lightgray;
}

#archived_PVs {

	position: fixed;

	background-color:white;

	display:none;

	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: lightgrey;

	top: 50px;
	left: 7.5%;

	width: 85%;

}

#archived_PVs h2 {

	margin: 0;

	padding: 15px 0 15px 15px;

	background-color: lightgrey;

	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	font-weight: bold;
}

#archived_PVs table {

	width: 100%;
}

#archived_PVs table tr td {
	
	padding: 15px 15px 15px 15px;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	cursor: pointer;

}

#archived_PVs table tr td:hover {
		
	font-weight: bold;
}

#data_table_area {
	
	position: relative;
	
	width: 95%;
	
	margin-top: 45px;
	padding-left: 2.5%;

	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	font-weight: bold;
}

#data_table_area .data_table {
	
	font-size: 14px;

	display: none;

	border-width: 2px;
	border-style: solid;
	border-color: lightgrey;
	
}

#data_table_area .data_table tr td {
	
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
}

#data_table_area .data_table tr td.pv_time {
	
	background-color: lightgrey;
	font-weight: bold;
}

#data_table_area h2 {

	margin-top: 20px;
	margin-bottom: 0px;

	padding: 15px 0 15px 15px;

	background-color: lightgrey;

	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	font-weight: bold;
}

#obs {

	position: relative;

    padding: 10px 0 10px 0;

    font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;
	
   	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
    border-radius: 5px;

	left: 7.5%;
	width: 85%;
	
	top: 20px;

    background-color: lightblue;
}

#obs h4 {

    padding: 0;
    margin:0;
    margin-left:25px;
}

#canvas_area span.selection_box {
    display: none;
    position: absolute;
    background: lightblue;
    border-color: blue;
    border-width: 1px;
    border-style: solid;
    opacity: 0.3;
	pointer-events: none;
}
