#header {
    
    position: relative;
    
    height: 125px;
    width: 85%;
    margin-top: 25px;
    margin-left: 7.5%;
    
}

#header_title {
	
	position: relative;
	
	top: 25px;
	
	font-family: "Open Sans, Arial";

	float: left;
	height: 100%;
}

#header_logo {

   height: 100%;
   float: right;
}

#canvas_area {
	
	position: relative;
	
	top: 35px;
	width: 95%;
	
	margin-top: 20px;
	padding-left: 2.5%;
}

#date {
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 14px;
	font-weight: bold;
	color: #666;
	
	margin: 0 0 0 5px;
	
	position: relative;
	top: 45px;
	
	left: 7.5%;
	
	width: 85%;
}

#date .date {
	
	margin: 0 0 0 5px;
	
	width: 120px;
}

#date .hh {
	
	margin: 0 5px 0 5px;
	
	width: 36px;
}

#date span {
	
	margin: 0 5px 0 5px;
	padding: 9px;
	
	width: 72px;
	
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	
	cursor: pointer;
}

#date span:hover {
	
	background-color: lightgray;
}


#window_size {
		
	position: relative;
	top: 30px;
	
	left: 7.5%;
	width: 85%;
}

#window_size table {
	width: 100%;
}

#window_size table tr td {

	padding: 5px 5px 5px 5px;
	
	font-family: "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
	font-size: 12px;
	
	text-align: center;
	
	width: 5.8%;	
	
	border-width: 1px;
	border-style: solid;
	border-color: lightgrey;
	
	color: #666;
	
	cursor: pointer;
}

#window_size table tr td.unpushed {
	background-color: white;
	
}

#window_size table tr td.pushed {
	background-color: lightgray;
}

#archived_PVs {

	position: fixed;

	background-color:white;

	display:none;

	width: 200px;
	height:200px;

	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	border-color: lightgrey;

	top: 50px;
	left: 17.5%;

	width: 65%;

}

#archived_PVs h2 {

	margin: 0;

	padding: 15px 0 15px 15px;

	background-color: lightgrey;

	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	font-weight: bold;
}

#archived_PVs table {

	width: 100%;
}

#archived_PVs table tr td {
	
	padding: 15px 15px 15px 15px;
	
	font-family: Arial,Helvetica,sans-serif;
	font-size: 14px;

	cursor: pointer;

}

#archived_PVs table tr td:hover {
		
	font-weight: bold;
}
